tqdm
nltk
noisereduce
scipy
sounddevice
brainflow
absl-py
matplotlib
soundfile
librosa
numpy
pyworld
openai-whisper
absl-py
librosa
soundfile
scipy 
scikit-learn 
numba 
jiwer 
unidecode
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio